<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Options list</title>
</head>
<body>
<a href="/options/2">SFZ</a>

<br>
<br>
<table>
    <tr>
        <th>Strike</th>
        <th>Type</th>
        <th>Price</th>
        <th>Volatility</th>
        <th>Days to maturity</th>
        <th>Collateral for buyer</th>
        <th>Collateral for writer</th>
        <th></th>
        <th></th>
    </tr>

    <tr th:each="option : ${options}">
        <td th:text="${option.strike}"></td>
        <td th:text="${option.type}"></td>
        <td th:text="${option.price}"></td>
        <td th:text="${option.volatility}"></td>
        <td th:text="${option.daysToMaturity}"></td>
        <td th:text="${option.buyCollateral}"></td>
        <td th:text="${option.writeCollateral}"></td>
        <td> <a href="/options/buy"> Buy </a> </td>
        <td> <a href="/options/write"> Write </a> </td>
    </tr>
</table>

</body>
</html>