<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>

<table>
  <tr>
    <th>Strike</th>
    <th>Type</th>
    <th>Volume</th>
    <th>Variat. Margin</th>
    <th>Price last/current</th>
    <th>Volatility last/current</th>
    <th>Days to maturity</th>
    <th>Collateral when was trade</th>
    <th></th>
  </tr>

  <tr th:each="portfolio : ${portfolios}">
    <td th:text="${portfolio.option.strike}"></td>
    <td th:text="${portfolio.option.type}"></td>
    <td th:text="${portfolio.volume}"></td>
    <td th:text="${portfolio.variatMargin}"></td>
    <td th:text="${portfolio.tradePrice + ' / ' + portfolio.option.price}"></td>
    <td th:text="${portfolio.volatilityWhenWasTrade + ' / ' + portfolio.option.volatility}"></td>
    <td th:text="${portfolio.option.daysToMaturity}"></td>
    <td th:text="${portfolio.collateralWhenWasTrade}"></td>
    <td> <a th:href="@{portfolio/delete/{id}(id=${portfolio.id})}"/> Delete</td>
  </tr>
</table>
<br>
<br>
<!--<table>-->
<!--  <tr>-->
<!--    <th>Open limit</th>-->
<!--    <th>Current net position</th>-->
<!--  </tr>-->
<!---->
<!--  <tr th:each="portfolio : ${portfolios}">-->
<!--    <td th:text="${portfolio.openLimit}"></td>-->
<!--    <td th:text="${portfolio.currentNetPosition}"></td>-->
<!--  </tr>-->
<!--</table>-->

</body>
</html>